#content {
	text-align: left;
	width: 100%;
	border: 1px solid gray;
	box-shadow: 0px 0px 20px #336699;

}



.lsidebar {
	float: left;
	width: 6%;
	margin-left: 25px;
	border: 1px solid #bbc;
	text-align: left;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #336699;
}

.rsidebar {
	float: right;
	width: 90%;
	height: 280%;
	margin-right: 5px;
	border: 1px solid #bbc;
	text-align: left;
	margin-top: 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #336699;
	z-index: 1;

}

.about {
	float: left;
	width: 6%;
	text-align: left;


}

.menu {
	background-color: #336699;
	text-align: center;
	margin-top: 0%;
	font-size: 26px;
	color: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.menuList {
	padding-left: 20px;
	padding-top: 0px;
	line-height: 30px;
	margin-top: 2px;
	border: 1px solid #bbc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 18px;
	line-height: 40px;
}

.content_area {
	float: center;
	width: 50%;
	height: 25px;
	margin-left: 100%;
	border: 1px solid #bbc;
	margin-left: 25%;
	border-radius: 10px;
	box-shadow: 0px 0px 0px #eee;

}

#slider {
	width: 70%;
	margin-left: 0%;
	margin-top: 0%;
	margin-right: 2%;

}

.about {
	float: left;
	width: 20%;
	margin-top: 0px;
	border: 1px solid #bbc;
	margin: 2px;
	border-radius: 10px;
	font-size: 20px;
}

p {
	padding: 0 5%;
}

.login_area {
	float: right;
	width: 90%;
	border: 1px solid #bbc;
	margin-top: 3px;
	margin-left: 0px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #eee;
}

.userl {
	background: lightblue;
	font-size: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.loginform {
	text-align: center;
	padding-top: 5%;
	color: #336699;
	font-size: 20px;
	margin-right: 180px;
}

.photo {

	border-radius: 5%;
	margin: 2%;
}

.photo ul {
	list-style: none;
	line-height: 300%;
}

.a {
	float: left;
	width: 20%;
	margin-left: 10%;
}

input[type=submit] {
	width: 10%;
	background-color: #4CAF50;
	color: white;
	padding: 8px 16px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	font-family: times new roman;
}

input[type=submit]:hover {
	background-color: #45a049;
}

input[type=text],
input[type=password],
select {
	width: 20%;
	padding: 5px 10px;
	margin: 3px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid lightblue;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert h4 {
	margin-top: 0;
	color: inherit;
}

.alert .alert-link {
	font-weight: bold;
}

.alert>p,
.alert>ul {
	margin-bottom: 0;
}

.alert>p+p {
	margin-top: 5px;
}

.alert-dismissable {
	padding-right: 35px;
}

.alert-dismissable .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-success hr {
	border-top-color: #c9e2b3;
}

.alert-success .alert-link {
	color: #2b542c;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-info hr {
	border-top-color: #a6e1ec;
}

.alert-info .alert-link {
	color: #245269;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-warning hr {
	border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
	color: #66512c;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-danger hr {
	border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
	color: #843534;

}

#footer {
	text-align: center;
	background-color: gray;
	color: white;
	font-style: italic;
	padding-bottom: 0px;
	padding: 1px 0px;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 5%;
	margin-top: 110px;
	box-shadow: 0px 0px 20px #336699;
}